<!DOCTYPE html>
<html>
    <head>
        <title>Status</title>
        {% include "partials/header.html" %}
    </head>
    <body>
        <div class="container" align="center">
            <h1>Hello Apa kabar?</h1>
            <div>
                <form action={% url 'story6App:forms_post' %} method="POST">
                    {% csrf_token %}
                    {{ forms.as_p }}
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div>
                <thead>
                    <th>Status : </th>
                </thead>
                <tbody>
                    {% for i in result %}
                        <td> {{i.status}}; </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </div>

            <!--<p>*halaman profil = ppw-f-haq.herokuapp.com/my-profile</p>-->
        </div>
    </body>
</html>