<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    {% include "partials/header.html" %}
</head>
<body>
    <div class="container" align="right" style="padding-top: 10px">
        {% block content %}
        {% if user.is_authenticated %}
                 <p class="display-4" style="font-family: Georgia">Halo, {{ user.username }} !</p>
                <a type="button" class="btn btn-danger" href="{% url 'index:logout' %}">Logout</a>
        {% else %}
                 <a type="button" class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Log in with Google</a>
        {% endif %}
    </div>
{% endblock content %}

    <div class="container container-judul">
        <h1>LIBRARY</h1>
    </div>
    <div class="container container-change">
       <button type="button" class="btn btn-info" onclick="changeCategory('quilting')">Quilting</button>
        <button type="button" class="btn btn-info" onclick="changeCategory('comic')">Comic</button>
        <button type="button" class="btn btn-info" onclick="changeCategory('architecture')">Architecture</button>
    </div>

    <div class="container container-counter">
        <h5 id="jumlah-favorit">Jumlah buku favorit : 0</h5>
    </div>
    <div class="container container-library">
        <table id="list-buku">
            <tr id="table-header">
                <th>Sampul</th>
                <th>Judul</th>
                <th>Penulis</th>
                <th>Deskripsi</th>
                <th>Favorit</th>
            </tr>
        </table>
    </div>
</body>
</html>