<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>My Profile</title>
        {% include "partials/header.html" %}
    </head>
    <body onload="showpage()">
        <div id="preload" align="center">
            <img id="loading-image" src="http://themenectar.com/docs/salient/wp-content/uploads/2016/10/basicloader.gif">
        </div>
        <div id="content" style="display: none">
            <div class="container profile-info" align="center">
                <div class="profile-img">
                    <img src="https://pbs.twimg.com/profile_images/1042423648437469185/N0XYJ4W2_400x400.jpg" class="gambar rounded-circle img-fluid">
                </div>
                <div class="profile-text">
                    <h5>Nama : Muhammad Dhiyaulhaq Nugraha</h5>
                    <h5>Tanggal Lahir : 4 November 1999</h5>
                    <h5>Hobi : Badminton</h5>
                </div>
            </div>
            <div class="container container-accordion" align="center">
                <div id="accordion">
                    <h3>Aktivitas</h3>
                    <div>
                        <p>Kuliah</p>
                        <p>Tidur</p>
                        <p>Makan</p>
                        <p>Ibadah</p>
                    </div>
                    <h3>Pengalaman</h3>
                    <div>
                        <p>SBF PSDM</p>
                        <p>Mentor OKK UI 2018</p>
                        <p>Staff Seminar COMPFEST X</p>
                        <p>VPJ Penunjang SIWAK NG 2018</p>
                    </div>
                    <h3>Prestasi</h3>
                    <div>
                        Ga ada kayaknya deh hehe
                    </div>
                </div>
            </div>

            <div class="container" align="center">
                <div class="tombol" style="padding-top: 20px">
                    <button id="tombol" type="button" class="btn btn-primary">Ubah Tema</button>
                </div>
            </div>
        </div>
    </body>
</html>