<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrasi</title>
    {% include "partials/header.html" %}
</head>
<body>
    <div class="container" align="center" style="padding-top: 20px">
        <h1>REGISTRASI</h1>
    </div>
    <div class="container container-registrasi" style="padding-top : 20px; width: 50%" align="center">
        <div>
            <form action={% url 'story6App:registrasi' %} method="POST">
            {% csrf_token %}
            {{ forms.as_p }}
            </form>
            <input id="btn_submit" class="btn btn-primary" name="id_submit" type="submit" value="Submit" onclick="submit_post()" data-toggle="modal" data-target="#myModal" disabled>
        </div>
    </div>

    <div class="container container-library" style="padding-top : 30px;" align="center">
        <div>
            <h5>LIST SUBSCRIBER</h5>
        </div>
        <table id="list-subscriber">
            <tr id="table-header">
                <th>Nama</th>
                <th>Email</th>
                <th>Unsubscribe</th>
            </tr>
        </table>
    </div>

    <div class="container">
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">SUKSES !</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Data anda berhasil tersimpan ...
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>
</html>