.navbar {
    background-image: linear-gradient(to right, deepskyblue, dodgerblue);
}
.profile-info{
    margin-top: 30px;
}

.profile-text{
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 20px;
    /*font-family: Algerian;*/
}

.gambar{
    height: 200px;
    width: 200px;
}

.container-accordion{
    width: 50%;
}

.ui-accordion-header{
    background-image: linear-gradient(to right, deepskyblue, royalblue);
}

tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;

}

.container-judul{
    padding-top: 30px;
    text-align: center;
    font-family: Georgia;
}

.container-change{
    padding-top: 20px;
    text-align: center;
    font-family: Georgia;
}

.container-counter{
    padding-top: 20px;
    font-family: Georgia;
}

.container-library{
    padding-top: 10px;
    padding-bottom: 20px;
}

.tombol-favorit{
    background-color: grey;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.tombol-favorit:hover {
    background-color: darkgrey;
}